.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
  line-height: 0;
  visibility: visible;
}

a {
  color: #000;
  text-decoration: none;
}